// -------------------------------------------------------------------------------------------------
// Name: _contact.scss
// Version: 0.5
//
// Summary: AlCamargos Portfólio
//         My personal portfolio website built with HTML, CSS and JavaScript.
//
// Author: Alexsander Lopes Camargos
// Author-email: alcamargos@vivaldi.net
//
// License: MIT
// -------------------------------------------------------------------------------------------------

@use "sass:map";
@use "../colors" as col;
@use "../_variables" as var;

.contact-section {

    p {
        font-size: map.get(var.$fs, xsmall);

        @media only screen and (max-width: map.get(var.$breakpoint, xsmall)) {
            font-size: map.get(var.$fs, xxsmall);
        }
    }

    .contact-wrapper {
        max-width: 80%;
    }
}
