// -------------------------------------------------------------------------------------------------
// Name: _portfolio.scss
// Version: 0.5
//
// Summary: AlCamargos Portfólio
//         My personal portfolio website built with HTML, CSS and JavaScript.
//
// Author: Alexsander Lopes Camargos
// Author-email: alcamargos@vivaldi.net
//
// License: MIT
// -------------------------------------------------------------------------------------------------

@use "../colors" as col;
@use "../_variables" as var;

.gallery-section {
    text-align: center;
}

.portfolio-item img {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 9;
    border-radius: 10px;
}

.portfolio-item .thumb-inner {
    position: absolute;
    z-index: 99;
    bottom: 0;
    text-align: left;
    padding: 20px;
    background-color: col.$slate;
    color: col.$white;
    width: 100%;
    height: 4rem;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.portfolio-item:hover .thumb-inner {
    border-radius: 10px;
    height: 100%;
    background-color: col.$slate;
    color: col.$white;
}

.portfolio-item:hover .thumb-inner h4 {
    margin-top: 5%;
    margin-bottom: 20px;
    color: col.$white;
}

.portfolio-item .thumb-inner h4 {
    margin-bottom: 0;
    font-size: 16px;
    margin-top: 0px;
    color: col.$white;
}

.portfolio-item:hover .thumb-inner h5 {
    color: col.$white;
}

.portfolio-item .thumb-inner p {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    margin-bottom: 0px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.portfolio-item:hover .thumb-inner p {
    position: relative;
    opacity: 1;
    visibility: visible;
    color: col.$white;
}
