// -------------------------------------------------------------------------------------------------
// Name: preloader.scss
// Version: 0.5
//
// Summary: AlCamargos Portfólio
//         My personal portfolio website built with HTML, CSS and JavaScript.
//
// Author: Alexsander Lopes Camargos
// Author-email: alcamargos@vivaldi.net
//
// License: MIT
// -------------------------------------------------------------------------------------------------

@use "../_colors" as col;

// Local variables.
$animation: bounce 0.6s infinite alternate;

$animation_delay_2s: 0.2s;
$animation_delay_3s: 0.3s;

$translate_y0: 0;
$translate_y1: -1.2em;


.preloader {
    background: -moz-linear-gradient(top, col.$navy, 0%, col.$light-navy, 100%);
    background: -webkit-linear-gradient(
        top,
        col.$navy,
        0%,
        col.$light-navy,
        100%
    );
    background: linear-gradient(
        to bottom,
        col.$navy,
        0%,
        col.$light-navy,
        100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr="col.$slate",
        endColorstr="col.$lightest-slate",
        GradientType=0
    );
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    text-align: center;

    &-bounce {
        left: 0;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        position: absolute;

        > span {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            margin: 0.3em;
            display: inline-block;
            vertical-align: middle;
            -webkit-animation: $animation;
            animation: $animation;
            background: col.$green;
        }

        > span:nth-child(2) {
            -webkit-animation-delay: $animation_delay_2s;
            animation-delay: $animation_delay_2s;
            background: col.$green;
        }

        > span:nth-child(3) {
            -webkit-animation-delay: $animation_delay_3s;
            animation-delay: $animation_delay_3s;
            background: col.$green;
        }
    }
}

// Animation
@-webkit-keyframes bounce {
    from {
        -webkit-transform: translateY(translate_y0);
        transform: translateY(translate_y0);
    }
    to {
        -webkit-transform: translateY(translate_y1);
        transform: translateY(translate_y1);
    }
}

@keyframes bounce {
    from {
        -webkit-transform: translateY(translate_y0);
        transform: translateY(translate_y0);
    }
    to {
        -webkit-transform: translateY(translate_y1);
        transform: translateY(translate_y1);
    }
}
