/*
// -------------------------------------------------------------------------------------------------
// Name: tailwind.src.css
// Version: 0.0.8
//
// Summary: alexcamargos.github.io
//          My Personal Portfolio.
//
// Author: Alexsander Lopes Camargos
// Author-email: alcamargos@vivaldi.net
//
// License: MIT
// -------------------------------------------------------------------------------------------------
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    #container {
        min-height: 100%;
    }

    .scroll-down-indicator {
        width: -webkit-fill-available;
    }

    #copyright a {
        writing-mode: vertical-rl;
    }

    /* Navigation button active indicator */
    .active_indicator {
        @apply !text-green-light;
    }

    /* Transition */
    .transition-all-300-500 {
        @apply transition-all delay-300 duration-500 ease-in-out;
    }
    /* Section */
    .section {
        @apply mx-8 px-4 pt-36 pb-16 sm:px-6 lg:px-8;
    }

    /* Section title */
    .title {
        @apply mt-5 mb-10 flex flex-col-reverse gap-x-2 font-nunito text-3xl font-bold text-slate-lightest
            after:absolute after:h-[1px] after:w-1/2 after:bg-navy-lightest;
    }

    /* Technologies I've been working with recently highlighter */
    .highlighter {
        @apply transition-all-300-500 inline-flex items-center gap-3
            before:text-green before:content-['▹'] hover:before:animate-bounce;
    }

    /* *************** WAVING HAND ANIMATION *************** */
    .waving-hand {
        display: inline-block;
        animation-name: waving-hand-animation;
        /* Change to speed up or slow down */
        animation-duration: 2.5s;
        /* Never stop waving */
        animation-iteration-count: infinite;
        /* Pivot around the bottom-left palm */
        transform-origin: 70% 70%;
    }

    @keyframes waving-hand-animation {
        0% {
            transform: rotate(0deg);
        }

        10% {
            transform: rotate(14deg);
        }

        20% {
            transform: rotate(-8deg);
        }

        30% {
            transform: rotate(14deg);
        }

        40% {
            transform: rotate(-4deg);
        }

        50% {
            transform: rotate(10deg);
        }

        60% {
            transform: rotate(-5deg);
        }

        70% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }

    /* SCROLL DOWN ANIMATION */
    .scroll-down-icon-animate {
        position: absolute;
        width: 28px;
        height: 8px;
        opacity: 0;
        transform: scale3d(0.5, 0.5, 0.5);
        animation: move 3s ease-out infinite;
    }

    .scroll-down-icon-animate:first-child {
        animation: move 3s ease-out 1s infinite;
    }

    .scroll-down-icon-animate:nth-child(2) {
        animation: move 3s ease-out 2s infinite;
    }

    .scroll-down-icon-animate:before,
    .scroll-down-icon-animate:after {
        content: " ";
        position: absolute;
        top: 0;
        height: 100%;
        width: 51%;
        background: #ccd6f6;
    }

    .scroll-down-icon-animate:hover::before,
    .scroll-down-icon-animate:hover::after {
        background: #64ffda;
    }

    .scroll-down-icon-animate:before {
        /* left: 0; */
        transform: skew(0deg, 30deg);
    }

    .scroll-down-icon-animate:after {
        right: 0;
        width: 50%;
        transform: skew(0deg, -30deg);
    }

    @keyframes move {
        25% {
            opacity: 1;
        }
        33% {
            opacity: 1;
            transform: translateY(30px);
        }
        67% {
            opacity: 1;
            transform: translateY(40px);
        }
        100% {
            opacity: 0;
            transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
        }
    }

    @keyframes pulse {
        to {
            opacity: 1;
        }
    }
}

/* Scrollbar Styles */
@layer utilities {
    :root {
        --scrollbar-width: 10px;
        --scrollbar-thumb-color: #495670;
    }

    html {
        scrollbar-width: thin;
        scrollbar-color: #172a45 #0a192f;
    }

    .scrollbar::-webkit-scrollbar {
        width: var(--scrollbar-width);
        height: var(--scrollbar-width);
    }

    .scrollbar::-webkit-scrollbar-track {
        @apply bg-navy;
    }

    .scrollbar::-webkit-scrollbar-track:hover {
        @apply bg-navy-dark;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        border: 3px solid #0a192f;
        border-radius: 10px;
        background: var(--scrollbar-thumb-color);
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: var(--scrollbar-thumb-color);
    }

    /* Scroll Reveal Animation Classes */
    .reveal {
        @apply opacity-0 translate-y-8 transition-all duration-1000 ease-out;
    }
    
    .reveal-visible {
        @apply opacity-100 translate-y-0;
    }
}
