// -------------------------------------------------------------------------------------------------
// Name: _about.scss
// Version: 0.5
//
// Summary: AlCamargos Portfólio
//         My personal portfolio website built with HTML, CSS and JavaScript.
//
// Author: Alexsander Lopes Camargos
// Author-email: alcamargos@vivaldi.net
//
// License: MIT
// -------------------------------------------------------------------------------------------------

@use "sass:map";
@use "../colors" as col;
@use "../_variables" as var;

.about-wrapper {

    p {
        font-size: map.get(var.$fs, xsmall);

        @media only screen and (max-width: map.get(var.$breakpoint, xsmall)) {
            font-size: map.get(var.$fs, xxsmall);
        }
    }

    @media only screen and (max-width: map.get(var.$breakpoint, small)) {
        flex-direction: column;
    }
}

.about-img {
    margin: 0 auto 40px;
    position: relative;
    margin-left: 50px;
    border-radius: 2rem;

    img {
        width: 50%;

        @media only screen and (min-width: map.get(var.$breakpoint, small)) {
            width: 70%;
        }
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 50%;
        height: 100%;
        top: 10px;
        left: 10px;
        border: 2px solid col.$green;
        border-radius: 5px;
        z-index: -1;


        @media only screen and (min-width: map.get(var.$breakpoint, small)) {
            width: 70%;
        }
    }
}

.about-contentbox {
    margin-top: 40px;
    text-align: left;
}
