// -------------------------------------------------------------------------------------------------
// Name: _colors;.scss
// Version: 0.5
//
// Summary: AlCamargos Portfólio
//         My personal portfolio website built with HTML, CSS and JavaScript.
//
// Author: Alexsander Lopes Camargos
// Author-email: alcamargos@vivaldi.net
//
// License: MIT
// -------------------------------------------------------------------------------------------------

@use "sass:map";
@use "../_colors" as col;
@use "../_variables" as var;

#path-svg {
    height: 2rem;
}

#header {
    position: fixed;
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 20px 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
}

a#logo {
    display: flex;
    gap: .5rem;
    font-size: map.get(var.$fs, xsmall);
    font-weight: map.get(var.$fw, bold);
    text-decoration: none;
    -webkit-transition: var.$transition;
    transition: var.$transition;

    @media only screen and (max-width: map.get(var.$breakpoint, xsmall)) {
        display: none;
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        &:active {
            background-color: transparent;
        }
    }

    &:hover:after {
        content: "AlCamargos";
        width: 0;
        height: 2px;
        background: col.$green;
        -webkit-transition: width 0.4s ease;
        transition: width 0.4s ease;

        @media only screen and (max-width: map.get(var.$breakpoint, small)) {
            content: "";
        }
    }

    &:hover {
        color: col.$white;
    }
}

// Navigation-bar
.navbar {
    margin-right: 100px;
    padding: 0;

    @media only screen and (max-width: map.get(var.$breakpoint, small)) {
        margin-right: 50px;
    }

    &-toggle {
        display: none;
    }
}

.navbar-nav {
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;

    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.333rem;
        margin-left: 20px;

        a {
            display: block;
            color: col.$green;
            font-size: map.get(var.$fs, xxsmall);
            font-weight: map.get(var.$fs, normal);
            text-decoration: none;
            opacity: 0.666;

            @media only screen and (min-width: map.get(var.$breakpoint, small)) {
                font-size: map.get(var.$fs, small);
            }

            &:after {
                content: "";
                display: block;
                height: 3px;
                margin-top: 2px;
                background: col.$light-navy;
                -webkit-transition: var.$transition;
                transition: var.$transition;
                -webkit-transform: scale(0);
                transform: scale(0);
            }

            &:hover {
                opacity: 1;
            }
        }

        #code-fork {
            display: flex;
            justify-content: center;
            line-height: 1.333rem;
            width: 60%;
            gap: .333rem;
            margin-left: 50px;
        }

        i {
            font-size: map.get(var.$fs, xsmall);
            color: col.$lightest-slate;
        }
    }
}

.navbar-nav li a:hover::after,
.navbar-nav li.active a:after {
    -webkit-transform: scale(1);
    transform: scale(1);
    background: col.$lightest-slate;
}

.navbar-nav li.active a {
    opacity: 1;
}

.collapse:not(.show) {
    display: block;
}
