// -------------------------------------------------------------------------------------------------
// Name: _social.scss
// Version: 0.5
//
// Summary: AlCamargos Portfólio
//         My personal portfolio website built with HTML, CSS and JavaScript.
//
// Author: Alexsander Lopes Camargos
// Author-email: alcamargos@vivaldi.net
//
// License: MIT
// -------------------------------------------------------------------------------------------------

@use "../colors" as col;
@use "../_variables" as var;


#social-icons {
    padding: 0;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 199;

    ul {
        display: inline-flex;
        flex-direction: column;
        gap: 0.222rem;
    }
}

.social-icons {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        display: block;
        margin: 1px 0px;

        a {
            width: 50px;
            height: 50px;
            display: inline-block;
            line-height: 50px;
            text-align: center;
            font-size: 18px;
            background: col.$light-navy;
            color: col.$light-slate;
            -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;

            &:hover {
                color: col.$green;
                background-color: col.$lightest-navy;
            }
        }
    }
}
