// -------------------------------------------------------------------------------------------------
// Name: _variables.sass
// Version: 0.5
//
// Summary: AlCamargos Portfólio
//         My personal portfolio website built with HTML, CSS and JavaScript.
//
// Author: Alexsander Lopes Camargos
// Author-email: alcamargos@vivaldi.net
//
// License: MIT
// -------------------------------------------------------------------------------------------------

@use "sass:map";

@use "_colors" as col;

// Screen sizes in pixels.
$breakpoint: (
    xxlarge: 1339px,
    xlarge: 1199px,
    medium: 991px,
    small: 768px,
    xsmall: 575px,
    xxsmall: 320px,
);

// Base fonts definitions.
$font_roboto: "roboto", sans-serif;
$font_nunito: "nunito", sans-serif;

// Fonts size definitions.
$font_size: 1rem; // Base font size.

$fs: (
    xxlarge: $font_size * 2.5,
    xlarge: $font_size * 2,
    large: $font_size * 1.5,
    medium: $font_size,
    small: $font_size * 0.75,
    xsmall: $font_size * 0.5,
    xxsmall: $font_size * 0.25,
);

$fs_heading: map.get($fs, xlarge); // Font size for headings.
$fs_subheading: map.get($fs, large); // Font size for subheadings.

// Font weight definitions.
$fw: (
    light: 300,
    normal: 400,
    medium: 500,
    bold: 700,
);

// Colors definitions.
$bg_color: col.$navy;
$bg_color_alt: col.$light-navy;

$text_color: col.$slate;
$text_color_alt: col.$light-slate;

// Transition definitions.
$transition: all 0.4s ease;

// SHADOW
$base-shadow-color: rgba(0, 0, 0, 0.333);
$default-shadow: 0.5rem 1rem 2rem $base-shadow-color;
