// -------------------------------------------------------------------------------------------------
// Name: _variables.sass
// Version: 0.5
//
// Summary: AlCamargos Portfólio
//         My personal portfolio website built with HTML, CSS and JavaScript.
//
// Author: Alexsander Lopes Camargos
// Author-email: alcamargos@vivaldi.net
//
// License: MIT
// -------------------------------------------------------------------------------------------------

@use "sass:map";
@use "_colors" as col;


// Screen sizes in pixels.
$breakpoint: (
    xxlarge: 1339px,
    xlarge: 1199px,
    medium: 991px,
    small: 768px,
    xsmall: 575px,
    xxsmall: 320px,
);

// Base fonts definitions.
$font_roboto: "roboto", sans-serif;
$font_nunito: "nunito", sans-serif;

// Fonts size definitions.
$font_size: 1rem; // Base font size.

$fs: (
    xxlarge: $font_size * 3.5,
    xlarge: $font_size * 2.75,
    large: $font_size * 2.5,
    medium: $font_size * 2,
    small: $font_size * 1.5,
    xsmall: $font_size,
    xxsmall: $font_size * 0.75,
);

$fs_heading: map.get($fs, small); // Font size for headings.
$fs_subheading: map.get($fs, xsmall); // Font size for subheadings.
$fs_paragraph: map.get($fs, xxsmall); // Font size for paragraphs.

// Font weight definitions.
$fw: (
    light: 300,
    normal: 400,
    medium: 500,
    bold: 700,
);

// Transition definitions.
$transition: all 0.4s ease;

// Shadow
$base-shadow-color: rgba(0, 0, 0, 0.333);
$default-shadow: 0.5rem 1rem 2rem $base-shadow-color;

// Margin and padding definitions.
$margin: 0 0 20px;
$title_margin: $margin;
$subtitle_margin: 0 0 10px;
