/*
# -------------------------------------------------------------------------------------------------
#
# Name: main.css
# Version: 0.0.1
#
# Summary: alexcamargos.github.io
#          My Personal Portfolio.
#
# Author: Alexsander Lopes Camargos
# Author-email: alcamargos@vivaldi.net
#
# License: MIT
#
# -------------------------------------------------------------------------------------------------
*/

/* *************** BASE STYLES *************** */

:root {
    /* colors */
    --primary-color: #fff;
    --secondary-color: #222;

    /* Google Fonts - https://fonts.google.com | Roboto - Designed by Christian Robertson */
    --font-family-sans-serif: "Roboto", sans-serif;
}

html {
    -ms-overflow-style: scrollbar;
}

html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

body {
    font: 16px/1.6 var(--font-family-sans-serif);
    color: var(--primary-color);
    text-align: center;
    background: var(--secondary-color);
}

img {
    border: 0;
    max-width: 100%;
}

figure {
    margin: 0;
}

/* ******* HEADINGS ******* */
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin: 0 0 20px;
    font-weight: 600;
    text-transform: uppercase;
}

h1,
h2 {
    font-size: 32px;
}

h3 {
    font-size: 30px;
    font-weight: 600;
}

h4 {
    font-size: 22px;
    font-weight: 600;
}

h5 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}

h6 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
}

p {
    margin: 0 0 20px;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover,
a:focus {
    color: var(--primary-color);
    outline: none;
    text-decoration: underline;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    a:active {
        background-color: transparent;
    }
}

.alltrans,
.social-icons li a,
.owl-nav > button,
.owl-nav > button:after,
.counter-box,
.about-img:after,
.gallery-img img,
.form-control,
.owl-dot,
.subscribe-row,
.close-btn,
.close-btn:before,
.close-btn:after,
.tag-btn,
.btn {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#main {
    padding: 0;
    background: var(--primary-color);
}

.no-margin {
    margin: 0 !important;
}

.opacity-no {
    opacity: 1 !important;
}

/* ******* BACKGROUND VIDEO ******* */
video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#video:after {
    content: "";
    opacity: 0.75;
    background: #4096ee; /* Old browsers */
    background: -moz-linear-gradient(
        top,
        #4096ee 0%,
        #39ced6 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
        top,
        #4096ee 0%,
        #39ced6 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        to bottom,
        #4096ee 0%,
        #39ced6 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#39ced6',GradientType=0 ); /* IE6-9 */
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.wrapper-background-dark:after {
    background: var(--secondary-color);
    opacity: 0.95;
}

.section-inner {
    padding: 20px 30px 0;
}

.fp-scrollable {
    height: calc(100vh - 200px) !important;
}

#fp-nav ul li a span {
    display: none;
}

/* ******* BUTTONS ******* */
.btn {
    background: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    line-height: 52px;
    padding: 0 35px;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 10px;
}

.btn:hover,
.btn:focus {
    color: var(--primary-color);
    border-color: var(--primary-color);
    background: none;
}

.btn:focus {
    box-shadow: none;
    outline: none;
}

.btn.btn-xs {
    line-height: 34px;
    font-size: 12px;
    padding: 0 20px;
    font-weight: 500;
}

.btn.btn-outline {
    background: none;
    border-color: var(--primary-color);
    color: var(--primary-color);
    border-width: 1px;
}

.btn.btn-outline:hover,
.btn.btn-outline:focus {
    background: var(--primary-color);
    color: var(--secondary-color);
}

.btn.btn-dark {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn.btn-dark:hover,
.btn.btn-dark:focus {
    background: var(--secondary-color);
    color: var(--primary-color);
}

/* ******* OWL CAROUSEL ******* */
.owl-carousel .owl-stage {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.owl-carousel .owl-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex: 1 0 auto;
}

/* ******* LOADING ANIMATIONS ******* */
.preloader {
    background: -moz-linear-gradient(
        top,
        #4096ee 0%,
        #39ced6 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
        top,
        #4096ee 0%,
        #39ced6 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        to bottom,
        #4096ee 0%,
        #39ced6 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#39ced6',GradientType=0 ); /* IE6-9 */
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    text-align: center;
}

.preloader-bounce {
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
}

.preloader-bounce > span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0.3em;
    display: inline-block;
    vertical-align: middle;
    -webkit-animation: bounce 0.6s infinite alternate;
    animation: bounce 0.6s infinite alternate;
    background: var(--primary-color);
}

.preloader-bounce > span:nth-child(2) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    background: var(--primary-color);
}

.preloader-bounce > span:nth-child(3) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    background: var(--primary-color);
}

@-webkit-keyframes bounce {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(-1.2em);
        transform: translateY(-1.2em);
    }
}

@keyframes bounce {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(-1.2em);
        transform: translateY(-1.2em);
    }
}

/* ******* FULLPAGE ******* */
#fullpage {
    z-index: 99;
}
