.preloader {
  background: -moz-linear-gradient(top, #0a192f, 0%, #112240, 100%);
  background: -webkit-linear-gradient(top, #0a192f, 0%, #112240, 100%);
  background: linear-gradient(to bottom, #0a192f, 0%, #112240, 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="col.$slate", endColorstr="col.$lightest-slate", GradientType=0 );
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
  text-align: center;
}
.preloader-bounce {
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
}
.preloader-bounce > span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0.3em;
  display: inline-block;
  vertical-align: middle;
  -webkit-animation: bounce 0.6s infinite alternate;
  animation: bounce 0.6s infinite alternate;
  background: #64ffda;
}
.preloader-bounce > span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  background: #64ffda;
}
.preloader-bounce > span:nth-child(3) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  background: #64ffda;
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translateY(translate_y0);
    transform: translateY(translate_y0);
  }
  to {
    -webkit-transform: translateY(translate_y1);
    transform: translateY(translate_y1);
  }
}
@keyframes bounce {
  from {
    -webkit-transform: translateY(translate_y0);
    transform: translateY(translate_y0);
  }
  to {
    -webkit-transform: translateY(translate_y1);
    transform: translateY(translate_y1);
  }
}
html {
  -ms-overflow-style: scrollbar;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "roboto", sans-serif;
  font-size: 0.75rem;
  background: #0a192f;
  color: #8892b0;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin: 0 0 20px;
  font-weight: 700;
  color: #ccd6f6;
}

h1,
h2 {
  font-size: 1.5rem;
}

h3,
h4 {
  font-size: 1rem;
  font-weight: 600;
}

h5,
h6 {
  margin: 0 0 10px;
  font-weight: 600;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin: 0 0 20px;
}

img {
  border: 0;
  max-width: 100%;
}

figure {
  margin: 0;
}

a {
  color: #64ffda;
  text-decoration: none;
}
a:hover, a:focus {
  outline: none;
  text-decoration: underline;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  a:active {
    background-color: transparent;
  }
}

#main {
  padding: 0;
}

#fullpage {
  z-index: 99;
}

#fp-nav ul li a span {
  display: none;
}

.no-margin {
  margin: 0 !important;
}

.opacity-no {
  opacity: 1 !important;
}

.fp-scrollable {
  height: calc(100vh - 200px) !important;
}

.alltrans,
.social-icons li a,
.owl-nav > button,
.owl-nav > button:after,
.counter-box,
.about-img:after,
.gallery-img img,
.form-control,
.owl-dot,
.subscribe-row,
.close-btn,
.close-btn:before,
.close-btn:after,
.tag-btn,
.btn {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.wrapper-background-dark:after {
  background: #8892b0;
  opacity: 0.95;
}

.section-inner {
  padding: 20px 30px 0;
  text-align: left;
}

.container-fluid {
  padding: 0 20px;
}

.title-block h2 {
  position: relative;
  color: #a8b2d1;
}
.title-block h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: clamp(5rem, 15rem + 15vw, 25rem);
  height: 3px;
  color: #ccd6f6;
}

.title-block #title-after::before {
  background: #e6f1ff;
}

.btn {
  background: #112240 !important;
  color: #64ffda !important;
  font-weight: 500 !important;
  text-align: center;
  line-height: 30px;
  padding: 0px 15px;
}
.btn:hover, .btn:focus {
  background: #233554 !important;
  color: #e6f1ff !important;
  border-radius: 0.5rem !important;
}
.btn-outline {
  border: 2px solid #64ffda !important;
}
.btn-outline:hover, .btn-outline:focus {
  border-radius: 0.75rem !important;
}
.btn-dark {
  background-color: #0a192f !important;
  color: #ccd6f6 !important;
}
.btn-dark:hover, .btn-dark:focus {
  color: #a8b2d1 !important;
}
.btn-large {
  line-height: 34px;
  font-size: 12px;
  padding: 0 20px;
}

.owl-carousel .owl-item, .owl-carousel .owl-stage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.controlArrow.prev {
  left: 50px;
}

.controlArrow.next {
  right: 50px;
}

.owl-carousel .owl-item {
  flex: 1 0 auto;
}

#path-svg {
  height: 2rem;
}

#header {
  position: fixed;
  display: block;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 20px 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
}
@media only screen and (max-width: 575px) {
  #header .header-warper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

a#logo {
  display: flex;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
@media only screen and (max-width: 575px) {
  a#logo {
    display: none;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  a#logo:active {
    background-color: transparent;
  }
}
a#logo:hover:after {
  content: "AlCamargos";
  width: 0;
  height: 2px;
  background: #64ffda;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
}
@media only screen and (max-width: 768px) {
  a#logo:hover:after {
    content: "";
  }
}
a#logo:hover {
  color: #e6f1ff;
}

.navbar {
  margin-right: 100px;
  padding: 0;
}
@media only screen and (max-width: 768px) {
  .navbar {
    margin-right: 50px;
  }
}
.navbar-toggle {
  display: none;
}

.navbar-nav {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.navbar-nav li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.333rem;
  margin-left: 20px;
}
@media only screen and (max-width: 768px) {
  .navbar-nav li {
    margin-left: 5px;
    gap: 10px;
  }
}
.navbar-nav li a {
  display: block;
  color: #64ffda;
  font-size: 0.75rem;
  text-decoration: none;
  opacity: 0.666;
}
@media only screen and (min-width: 768px) {
  .navbar-nav li a {
    font-size: 1.5rem;
  }
}
.navbar-nav li a:after {
  content: "";
  display: block;
  height: 3px;
  margin-top: 2px;
  background: #112240;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.navbar-nav li a:hover {
  opacity: 1;
}
.navbar-nav li #code-fork {
  display: flex;
  justify-content: center;
  line-height: 1.333rem;
  width: 60%;
  gap: 0.333rem;
  margin-left: 50px;
}
@media only screen and (max-width: 575px) {
  .navbar-nav li #code-fork {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .navbar-nav li #code-fork {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .navbar-nav li #code-fork a {
    margin-left: 10px;
  }
}
.navbar-nav li #code-fork i {
  font-size: 1rem;
}
.navbar-nav li i {
  font-size: 1rem;
  color: #ccd6f6;
}
@media only screen and (min-width: 768px) {
  .navbar-nav li i {
    font-size: 1.5rem;
  }
}

.navbar-nav li a:hover::after,
.navbar-nav li.active a:after {
  -webkit-transform: scale(1);
  transform: scale(1);
  background: #ccd6f6;
}

.navbar-nav li.active a {
  opacity: 1;
}

.collapse:not(.show) {
  display: block;
}

.welcome-box .welcome-title {
  font-weight: 700;
  font-size: clamp(0.75rem, -0.0656rem + 4.0778vw, 3.5rem);
  margin-bottom: 10px;
  letter-spacing: 0.1rem;
  color: #ccd6f6;
}
@media only screen and (min-width: 991px) {
  .welcome-box .welcome-title {
    letter-spacing: 0.125rem;
  }
}
@media only screen and (min-width: 1199px) {
  .welcome-box .welcome-title {
    letter-spacing: 0.222rem;
  }
}

.welcome-box {
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  font-size: 1rem;
  line-height: 1.666;
  margin: 0px auto 30px;
  padding-left: 50px;
}
.welcome-box p {
  width: 100%;
  max-width: 991px;
  font-size: clamp(0.75rem, -0.0656rem + 4.0778vw, 3.5rem);
}
.welcome-box .btn {
  margin-top: 10px;
}

.welcome-first {
  display: block;
  font-size: clamp(0.75rem, -0.0656rem + 4.0778vw, 3.5rem);
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.1rem;
  color: #64ffda;
}
@media only screen and (min-width: 991px) {
  .welcome-first {
    letter-spacing: 0.2rem;
  }
}
@media only screen and (min-width: 1199px) {
  .welcome-first {
    letter-spacing: 0.222rem;
  }
}

#typing-effect {
  color: #64ffda;
}

.next-section {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  transform: translateX(-50%);
  bottom: 20px;
  left: 0;
  color: #64ffda;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
@media only screen and (min-width: 768px) {
  .next-section {
    bottom: 0;
  }
}
.next-section span {
  margin-top: 1.666rem;
  margin-bottom: 0.333rem;
  display: block;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
}
@media only screen and (max-width: 768px) {
  .next-section span {
    font-size: 0.75rem;
  }
}
.next-section i:hover {
  opacity: 1;
}

.about-wrapper p {
  font-size: 1rem;
}
@media only screen and (max-width: 575px) {
  .about-wrapper p {
    font-size: 0.75rem;
  }
}
@media only screen and (max-width: 768px) {
  .about-wrapper {
    flex-direction: column;
  }
}

.about-img {
  margin: 0 auto 40px;
  position: relative;
  margin-left: 50px;
  border-radius: 2rem;
}
.about-img img {
  width: 50%;
}
@media only screen and (min-width: 768px) {
  .about-img img {
    width: 70%;
  }
}
.about-img:after {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 10px;
  left: 10px;
  border: 2px solid #64ffda;
  border-radius: 5px;
  z-index: -1;
}
@media only screen and (min-width: 768px) {
  .about-img:after {
    width: 70%;
  }
}

.about-contentbox {
  margin-top: 40px;
  text-align: left;
}

.gallery-section {
  text-align: center;
}

.portfolio-item img {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 9;
  border-radius: 10px;
}

.portfolio-item .thumb-inner {
  position: absolute;
  z-index: 99;
  bottom: 0;
  text-align: left;
  padding: 20px;
  background-color: #8892b0;
  color: #e6f1ff;
  width: 100%;
  height: 4rem;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.portfolio-item:hover .thumb-inner {
  border-radius: 10px;
  height: 100%;
  background-color: #8892b0;
  color: #e6f1ff;
}

.portfolio-item:hover .thumb-inner h4 {
  margin-top: 5%;
  margin-bottom: 20px;
  color: #e6f1ff;
}

.portfolio-item .thumb-inner h4 {
  margin-bottom: 0;
  font-size: 16px;
  margin-top: 0px;
  color: #e6f1ff;
}

.portfolio-item:hover .thumb-inner h5 {
  color: #e6f1ff;
}

.portfolio-item .thumb-inner p {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  margin-bottom: 0px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.portfolio-item:hover .thumb-inner p {
  position: relative;
  opacity: 1;
  visibility: visible;
  color: #e6f1ff;
}

.contact-section p {
  font-size: 1rem;
}
@media only screen and (max-width: 575px) {
  .contact-section p {
    font-size: 0.75rem;
  }
}
.contact-section .contact-wrapper {
  max-width: 80%;
}

#social-icons {
  padding: 0;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 199;
}
@media only screen and (max-width: 768px) {
  #social-icons {
    display: none;
  }
}
#social-icons ul {
  display: inline-flex;
  flex-direction: column;
  gap: 0.222rem;
}

.social-icons {
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-icons li {
  display: block;
  margin: 1px 0px;
}
.social-icons li a {
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  background: #112240;
  color: #a8b2d1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.social-icons li a:hover {
  color: #64ffda;
  background-color: #233554;
}

#copyright {
  position: fixed;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 40px;
  padding: 0;
  top: 50%;
  cursor: pointer;
  z-index: 199;
}
@media only screen and (max-width: 768px) {
  #copyright {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    top: 95%;
    bottom: 0 !important;
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) {
  #copyright::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #a8b2d1;
  }
}
#copyright a {
  margin: 20px auto;
  padding: 10px;
  text-decoration: none;
  font-family: "nunito", sans-serif;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  color: #a8b2d1;
}
@media only screen and (min-width: 768px) {
  #copyright a {
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
  }
}
@media only screen and (max-width: 575px) {
  #copyright a {
    font-size: 0.4995rem;
  }
}
#copyright a:hover {
  color: #64ffda;
}/*# sourceMappingURL=main.css.map */