/*
# -------------------------------------------------------------------------------------------------
#
# Name: main.css
# Version: 0.5
#
# Summary: AlCamargos Portfólio
#          My personal portfolio website built with HTML, CSS and JavaScript.
#
# Author: Alexsander Lopes Camargos
# Author-email: alcamargos@vivaldi.net
#
# License: MIT
#
# -------------------------------------------------------------------------------------------------
*/

/* *************** START: VARIABLES *************** */
:root {
    /* FONT FAMILY */
    --font-family-sans-serif: "Roboto", sans-serif;

    /* COLORS */
    --space-cadet: hsla(229, 45%, 18%, 1);
    --space-cadet-2: hsla(232, 35%, 28%, 1);
    --ghost-white: #f9fbff;
    --light-orange: #edd1b0ff;

    /* BACKGROUND COLORS */
    --background-color: hsla(0, 0%, 98%, 0.333);
    --background-color-alt: hsl(0, 0%, 12%, 0.333);

    /* BASE COLOR */
    --base-color: var(--space-cadet);
    --base-color-alt: var(--space-cadet-2);

    /* TEXT COLORS */
    --text-color: var(--ghost-white);
    --text-color-alt: var(--light-orange);

    /* SHADOW */
    --base-shadow-color: rgba(0, 0, 0, 0.333);
    --default-shadow: 0.5rem 1rem 2rem var(--base-shadow-color);
}
/* *************** END: VARIABLES *************** */
