/*
// -------------------------------------------------------------------------------------------------
// Name: tailwind.src.css
// Version: 0.0.5
//
// Summary: alexcamargos.github.io
//          My Personal Portfolio.
//
// Author: Alexsander Lopes Camargos
// Author-email: alcamargos@vivaldi.net
//
// License: MIT
// -------------------------------------------------------------------------------------------------
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Navigation button active indicator */
    .active_indicator {
        @apply !text-green-light;
    }

    .transition-all-300-500 {
        @apply transition-all delay-300 duration-500 ease-in-out;
    }

    .section {
        @apply mx-8 px-4 pt-36 pb-16 sm:px-6 lg:px-8;
    }

    .title {
        @apply mt-5 mb-10 flex flex-col-reverse gap-x-2 font-nunito text-3xl font-bold text-slate-lightest after:absolute after:h-[1px] after:w-1/2 after:bg-navy-lightest;
    }
}

/* Scrollbar Styles */
@layer utilities {
    :root {
        --scrollbar-width: 10px;
        --scrollbar-thumb-color: #495670;
    }

    html {
        scrollbar-width: thin;
        scrollbar-color: #172a45 #0a192f;
    }

    .scrollbar::-webkit-scrollbar {
        width: var(--scrollbar-width);
        height: var(--scrollbar-width);
    }

    .scrollbar::-webkit-scrollbar-track {
        @apply bg-navy;
    }

    .scrollbar::-webkit-scrollbar-track:hover {
        @apply bg-navy-dark;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        border: 3px solid #0a192f;
        border-radius: 10px;
        background: var(--scrollbar-thumb-color);
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: var(--scrollbar-thumb-color);
    }
}
