/*
# -------------------------------------------------------------------------------------------------
#
# Name: main.css
# Version: 0.0.1
#
# Summary: alexcamargos.github.io
#          My Personal Portfolio.
#
# Author: Alexsander Lopes Camargos
# Author-email: alcamargos@vivaldi.net
#
# License: MIT
#
# -------------------------------------------------------------------------------------------------
*/


/* Google Fonts - https://fonts.google.com | Roboto - Designed by Christian Robertson */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');


/* *************** BASE STYLES *************** */
:root {
    --page-font: 'Roboto', sans-serif;
    --text-size-1: 4rem;
    --text-size: 2rem;
    --main-white: #f0f0f0;
    --main-blue: #45567d;
    --light-blue: #00BFFF;
    --main-gray: #30384199;
}


body {
    background-color: rgba(20, 20, 20, 0.77);
    background-image: url("/assets/img/bg.jpg");
    background-size: cover;
    background-blend-mode: hue;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: var(--page-font);
}

main {
    display: grid;
    align-items: center;
    height: 100vh;
    transition: margin-left 0.5s;
}
/* *************** END OF BASE STYLES *************** */


/* Styling for this page is organized from top to bottom of what is shown on the page. */


/* *************** WAVING HAND ANIMATION *************** */
.waving-hand {
    display: inline-block;
    animation-name: waving-hand-animation;
    /* Change to speed up or slow down */
    animation-duration: 2.5s;
    /* Never stop waving */
    animation-iteration-count: infinite;
    /* Pivot around the bottom-left palm */
    transform-origin: 70% 70%;
}

@keyframes waving-hand-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(-5.0deg)
    }

    70% {
        transform: rotate(0.0deg)
    }

    100% {
        transform: rotate(0.0deg)
    }
}

/* *************** END OF - WAVING HAND ANIMATION *************** */


/* *************** PAGE WRAPPER *************** */
#wrapper {
    height: 100vh;
    width: 100vw;
}

/* *************** END OF PAGE WRAPPER *************** */


/* *************** NAVIGATION-BAR *************** */
#navbar-ctrl {
    margin: 10px;
    position: absolute;
    z-index: 1;
}

#open-navbar {
    font-size: var(--text-size);
    cursor: pointer;
    color: var(--main-white);
}

#close-navbar {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: var(--text-size);
    margin-left: 60px;
}

#navbar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--main-gray);
    overflow: hidden;
    padding-top: 100px;
    transition: 0.5s;
}

#navbar ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    gap: 20px;
    list-style-type: none;
}

#navbar ul a {
    text-decoration: none;
    font-size: var(--text-size);
    color: var(--main-white);
    transition: 0.5s;
}

#navbar ul a:hover {
    color: var(--light-blue)
}

#navbar a#close-navbar {
    padding: 8px;
    text-decoration: none;
    font-size: var(--text-size-1);
    color: var(--main-white);
    transition: 0.5s;
}

#navbar a#close-navbar:hover {
    color: var(--light-blue);
}

/* *************** END OF - NAVIGATION-BAR *************** */


/* *************** particles.js container *************** */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* *************** particles.js container *************** */


/* *************** MAIN-CONTENT *************** */
.content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content .texts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 200px;
}

.content .texts .text-big {
    color: var(--light-blue);
    font-size: var(--text-size-1);
    font-weight: 700;
}

.content .texts .text-small {
    color: var(--main-white);
    font-size: var(--text-size);
}

.content img {
    border-radius: 50%;
    border: solid var(--main-blue);
    max-width: 25%;
    height: auto;
    display: block;
    margin: 0 auto;
    position: relative;
}

.content #typing {
    color: var(--light-blue);
}

/* *************** END OF MAIN-CONTENT *************** */