@tailwind base;
@tailwind components;
@tailwind utilities;
// Importação da fonte Inter 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&family=JetBrains+Mono:wght@400&display=swap');

html,
body {
    height: 100%;
    font-family: 'Inter', sans-serif;
}