/*
# -------------------------------------------------------------------------------------------------
#
# Name: scroll-down.css
# Version: 0.0.1
#
# Summary: alexcamargos.github.io
#          My Personal Portfolio.
#
# Author: Alexsander Lopes Camargos
# Author-email: alcamargos@vivaldi.net
#
# License: MIT
#
# -------------------------------------------------------------------------------------------------
*/

/* SCROLL DOWN ANIMATION */
.scroll-down-icon-animate {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.scroll-down-icon-animate:first-child {
    animation: move 3s ease-out 1s infinite;
}

.scroll-down-icon-animate:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.scroll-down-icon-animate:before,
.scroll-down-icon-animate:after {
    content: " ";
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #ccd6f6;
}

.scroll-down-icon-animate:hover::before,
.scroll-down-icon-animate:hover::after {
    background: #64ffda;
}

.scroll-down-icon-animate:before {
    /* left: 0; */
    transform: skew(0deg, 30deg);
}

.scroll-down-icon-animate:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;
    }
    33% {
        opacity: 1;
        transform: translateY(30px);
    }
    67% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

@keyframes pulse {
    to {
        opacity: 1;
    }
}
